@import url(normalize.css);

body {
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: repeat-y;
	color: #333333;
	font-size: 8pt;
	font-family: Arial, sans-serif;
}
a:link {
	color: #c65400;
	text-decoration: none;
}
a:visited {
	color: #8b6d56;
}
#eadDisplayPortlet {
	background-image: none;
	background-color: white;
}
#eadDisplayPortlet #eadcontent {
	height: 100%;
}

#eadDisplayPortlet #eadcontent div {

}
#eadDisplayPortlet  #splitter {
width: 5px;
cursor: col-resize;
background-color: rgba(178,48,98,0.2);
color: rgba(178,48,98,0.2);
background-image: url("../images/ape/eaddisplay/vgrabber.gif");
background: url("../images/ape/eaddisplay/vgrabber.gif") no-repeat scroll center center rgba(178,48,98,0.2);
overflow: auto;
}

#eadDisplayPortlet #left-pane {
	width:500px;
	overflow-y: auto;
}
#eadDisplayPortlet #right-pane {
	width:500px;
	padding: 5px;
}
#eadDisplayPortlet .pane {
	float: left;
	height: 100%;
}
#eadDisplayPortlet #eadTree {
	margin-right:5px;
}


@media screen {
	#eadDisplayPortlet #right-pane {
		font-size: 8pt;
	}
	#eadDisplayPortlet #eadcontent em{
		background-color: #afdefc;
	}	
}
@media print {
	#eadDisplayPortlet #right-pane {
		font-size: 12pt;
	}
	#eadDisplayPortlet #eadTree span.dynatree-active a {
		font-weight: bold;
	}	
	#eadDisplayPortlet #eadcontent em{
		border-bottom: 2px solid gray;
	}
}

#eadDisplayPortlet #eadcontent em{
	font-size: 130%;
	padding-left:5px;
	padding-right:5px;
}



#eadDisplayPortlet .eadid {
	color: #83736A;
    font-size: 130%;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

#eadDisplayPortlet .titleproper {
    font-size: 170%;
	font-style: normal;
	font-weight: bold;
	padding-bottom: 15px;
	text-align: center;
}
#eadDisplayPortlet .subtitle {
    font-size: 150%;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	padding-bottom: 15px;
	text-align: center;
	font-style: italic;
}
#eadDisplayPortlet h2 {
	border-bottom: 1px solid #B23062;
    color: #B23062;
    font-size: 150%;
    font-weight: bold;
    margin: 0.3em 0;
    text-align: left;
	
}

#eadDisplayPortlet .defaultlayout {
	text-align: center;
}


#eadDisplayPortlet .collapse,#eadDisplayPortlet .creation-content {
	padding-left: 15px;
	padding-right: 15px;
}

#eadDisplayPortlet .expand-unitid {
	width: 130px;
	padding-right: 10px;

}

#eadDisplayPortlet .expand-unitdate {
	width: 150px;
	text-align: right;
}
#eadDisplayPortlet  #children img {
	width:100px;
}
#child-paging {
	float:right;
	margin-right: 10px;	
}
#eadDisplayPortlet .numberOfPages {
	float:left;
	font-weight: normal;
}
#eadDisplayPortlet .child {
	border-bottom: 1px solid #E6E6E6;
	padding:5px;
}
#eadDisplayPortlet .childHeader {
	font-size: 130%;
	font-weight: normal;
}
#eadDisplayPortlet #children .boxtitle {
	height: 18px;
	background: url("../../images/second_display/tabbg.jpg") repeat-x scroll 0 0 transparent;
}
#eadDisplayPortlet .childContent h2 {
	border-bottom: none;
	font-size: 100%;
	font-weight:normal;
	font-style:italic;
	color: gray;
}
#eadDisplayPortlet .childContent {
    color: gray;
    font-size: 100%;
    line-height: 13px;
    padding-top: 3px;
    padding-left:140px;
    padding-right:150px;
}
.box .boxtitle {
	background-image: url("../../second_display/bg_headers.jpg");	
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;	
	text-transform: uppercase;
	background-color: #afdefc;
	padding-left: 5px;
}
.box {
	border: 1px solid #afdefc;
	margin-top:7px;
	margin-bottom:7px;
	border-radius: 4px;
}
.paging ul  {
	display:inline-block;
    list-style: none outside none;
    padding: 0px;
    
    margin:0px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;    
}
.paging li {
	float: left;
    font-size: 12px;	
    font-weight: bold;
    color:gray;	
}	
.paging li span {	
	cursor: pointer;
    float: left;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
}

.paging li.active {
	color:black;
}
.paging  li a:hover span {
    color: #00384D;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}
.print {
	float: right;
	text-align: right;
}
.print-icon {
	text-align: right;
}
#print {
    padding: 6px 6px 0 0;
}
#header {
    height: 111px;
    width: 100%;
    background: url("../../images/second_display/2nd_displ_bg.jpg") repeat;
    overflow: hidden;
}

#header #leftPart {
    float: left;
}

#header #rightPart {
    float: right;
}