@CHARSET "UTF-8";


#eag2012Div .tab_header {
	border: 1px solid #79B7E7;
	
	border-top-right-radius: 5px;
	border-bottom: none;
	clear: both;
	float: left; 
	width: 100%;
    height: 24px;

}

#eag2012Tabs{
	float:left;
	width:100%;
	line-height:normal;	
	
}

#eag2012TabsContainer {
  
  width:100%;

}

#container{
	
    border-color: #00A0DF #00A0DF -moz-use-text-color;
    border-style: solid solid none;
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    border-width: 1px 1px solid;
    border-bottom:3px solid #00A0DF;
    float: left;
    width:97%;	
}
#eag2012Tabs ul{         
	margin:0;
	padding:0;
	list-style:none outside none;
	height:24px;
	
}


#eag2012Tabs li{
 float:left;
 padding:0;
 border-color: #00A0DF #00A0DF -moz-use-text-color;
 border-style: solid solid none;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 border-width: 1px 1px solid;
 
 /*background:#afdefc;*/
}
/*#eag2012Div li #tab-yourInstitution:active{
background: #e9f3fa;
}*/

#eag2012Tabs li:hover{
border-color: #00A0DF #00A0DF -moz-use-text-color;
 border-style: solid solid none;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 border-width: 1px 1px solid;	
 background: #e9f3fa;
	
}
#eag2012Tabs li a{
padding:3px 10px 3px 10px;
display:block;
text-decoration:none;
color:black;
font-size:1em;
font-weight:bold;
font-family:"GravurCondesedCY",regular,rounded;

}

#eag2012Tabs li a:hover{
	background: #e9f3fa;
	color:#00a0df;
}

#eag2012Tabs li a:active{
	/*background: #e9f3fa;
	color:black;*/
}

#eag2012Tabs li a:after,.eag2012currenttab{
	/*color:gray;*/
	background-color: #e9f3fa;	
	
}

/*#eag2012Div li .tab-yourInstitution{
background: #e9f3fa;	
	
}*/

#eag2012Div table {
	float: left;
	width: 100%;
	font-size:1em;
	font-family:"GravurCondesedCY",regular,rounded;
}

#eag2012Div td, th {
   width: 25%;
   padding-top: 15px;
 
}

#eag2012Div td label{
	
	/*width:auto;*/
	
}
#buttonSaveEAG2012{
	margin-right:10px;
	margin-bottom:5px;
}

#eag2012Div input{
	/*background-color: #00A0DF;*/
    color: black;
   /* font-weight: bold;*/
	
}
#eag2012Div .longButton{
	float: left;
	width: 70%;
}

#eag2012Div .longButtonL{
	float: left;
	width: 90%;
}

#eag2012Div .middleText{
	float: left;
	width: 50%;
}
#eag2012Div .rightButton{
	float: right;
	width: 10%;
}
#eag2012Div .marginTop{
	margin-top: 15px;
}

#eag2012Div  #visitorAdressLabel, #postalAddressLabel,#repositoryLabel, #administrativeLabel, #buildingLabel, #holdingLabel, #usedLanguagesLabel,
#usedRulesLabel, #resourceLabel, #institutionLabel, #searchroomLabel, #libraryLabel,
#internetAccessLabel, #technicalServicesLabel, #restaurationLabLabel, #reproductionServiceLabel,
#recreationalServiceLabel, #yourInstitutionLabel, #yiPostalAddressLabel {
	font-weight: bold;
	
}
#visitorAdressLabel,#yourInstitutionLabel, #postalAddressLabel,#repositoryLabel, #administrativeLabel, #buildingLabel, #holdingLabel, #usedLanguagesLabel,
#usedRulesLabel, #resourceLabel, #institutionLabel, #searchroomLabel, #technicalServicesLabel,#recreationalServiceLabel {
	
	border-bottom:1px solid #00a0df;
	
}

	
textarea {
    height: 100px;
    width: 200px;
}


input[type="button"] {
	background:#afdefc;
	border-color: #00A0DF;
	border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius:10px;
    font-weight: bold;
}

#buttonAddFurtherTelephoneOfTheInstitution, #buttonAddFurtherFaxOfTheInstitution{
 margin-left:30px;	
	
}

input[type="text"] {
    width: 200px;
    padding-left:6px;

}

#tdIdentifierOfTheInstitution {
    padding-right: 6px;
}

#usedLanguagesLabel{
padding-top:5px;	
	
}

#bodyt{
margin-left:36%;	
width:65%;	
	
}
.eag2012disabled{
	background:#a4afb6;
	
}
p.fieldRequired {
	color: red;
	padding-top:5px;
}

#coordinatesLabel{
color:#00A0DF;	
text-decoration:underline;	
}

#selectTypeOfTheInstitution, .selectControlTab{
	width:200px;
}

#selectTypeOfTheInstitution option{
	
	width:610px;
	
}
#selectDescriptionLanguage option, .selectControlTab option{
	width:290px;
	
}

.labelLeft{
	padding-left:20px;
}
.labelLeftselect{
	padding-left:10px;
	
}
#tdLanguageRuleOfRepositorySuppression,#tdLanguageRuleOfRepositoryFoundation,
#tdLanguageRuleOfRepositorySuppression,#tdLanguageUnitOfAdministrativeStructure,#tdLanguageBuilding,
#tdLanguageArchivalAndOtherHoldings,#tdLanguageRepositoryHistory,#tdDateOfHoldingsTo,#tdLanguagePesonresponsible,
#tdTypeOfRelation,#tdLanguageDescriptionOfRelation,#tdInstitutionTypeOfRelation,#tdLanguageInstitutionDescriptionOfRelation{
	padding-left:40px;
	
}

}

