@CHARSET "UTF-8";


#eag2012Div .tab_header {
	border: 1px solid #79B7E7;
	background: url("../images/eag2012/tabbg.jpg") repeat-x;
	border-top-right-radius: 5px;
	border-bottom: none;
	clear: both;
	float: left; 
	width: 100%;
    height: 24px;

}

#eag2012Tabs{
	float:left;
	width:100%;
	line-height:normal;	
	
}

#eag2012TabsContainer {
  
  width:100%;

}

#container{
	
    border-color: #00A0DF #00A0DF -moz-use-text-color;
    border-style: solid solid none;
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    border-width: 1px 1px solid;
    float: left;
    width:97%;	
}
#eag2012Tabs ul{         
	margin:0;
	padding:0;
	list-style:none outside none;
	height:24px;
	
}

#eag2012Tabs li{
 float:left;
 padding:0;
 border-color: #00A0DF #00A0DF -moz-use-text-color;
 border-style: solid solid none;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 border-width: 1px 1px solid;
}

#eag2012Tabs li:hover{
	
border-botton-left-radius:5px;
border-top-left-radius:5px;
border:1px solid #006699;	
background: #00A0DF;	
	
}
#eag2012Tabs li a{
padding:3px 10px 3px 10px;
display:block;
text-decoration:none;
color:black;
font-size:1.2em;
font-weight:bold;

}

#eag2012Tabs li a:visited{
	/*color:gray;*/
		
}

#eag2012Tabs li a:hover{
	background: #00A0DF;
	color:black;
}

#eag2012Tabs li a:active{
	background: #00A0DF;
	color:black;
}

#eag2012Tabs li a:after, .eag2012currenttab{
	/*color:gray;*/
	background: #00A0DF;	
	
}

#eag2012Div li .tab-yourInstitution{
background: #00A0DF;	
	
}

#eag2012Div table {
	float: left;
	width: 100%;
	font-size:1em;
	
}

#eag2012Div td, th {
  	width: 25%;
   padding-top: 15px;
}

#eag2012Div td label{
	
	width:auto;
	
}

#eag2012Div input{
	/*background-color: #00A0DF;*/
    color: black;
    font-weight: bold;
	
}
#eag2012Div .longButton{
	float: left;
	width: 70%;
}

#eag2012Div .longButtonL{
	float: left;
	width: 90%;
}

#eag2012Div .middleText{
	float: left;
	width: 50%;
}
#eag2012Div .rightButton{
	float: right;
	width: 10%;
}
#eag2012Div .marginTop{
	margin-top: 15px;
}

#eag2012Div #tab-contact td#visitorAdressLabel, #postalAddressLabel, #coordinatesLabel,
#repositoryLabel, #administrativeLabel, #buildingLabel, #holdingLabel, #usedLanguagesLabel,
#usedRulesLabel, #resourceLabel, #institutionLabel, #searchroomLabel, #libraryLabel,
#internetAccessLabel, #technicalServicesLabel, #restaurationLabLabel, #reproductionServiceLabel,
#recreationalServiceLabel, #yourInstitutionLabel, #yiPostalAddressLabel {
	font-weight: bold;
}

textarea {
    height: 100px;
    width: 200px;
}


input[type="button"] {
	background:#00A0DF;
	border-color: #00A0DF;
	border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius:10px;
}

input[type="text"] {
    width: 200px;
  /* background:#00A0DF;*/

}
#bodyt{
margin-left:36%;	
width:65%;	
	
}
.eag2012disabled{
	background:#E6E6E6;
	
}
p.fieldRequired {
	color: red;
}

#visitorAdressLabel{
	
	font-weight:bold;
	
}

#coordinatesLabel{
color:#00A0DF;	
text-decoration:underline;	
}

#selectTypeOfTheInstitution, #selectDescriptionLanguage{
	width:200px;
	
	}

#selectTypeOfTheInstitution option{
	
	width:610px;
	
}
#selectDescriptionLanguage option{
	width:290px;
	
}

.labelLeft{
	padding-left:40px;
}
.labelLeftselect{
	padding-left:10px;
	
}
#tdLanguageRuleOfRepositorySuppression,#tdLanguageRuleOfRepositoryFoundation,
#tdLanguageRuleOfRepositorySuppression,#tdLanguageUnitOfAdministrativeStructure,#tdLanguageBuilding,
#tdLanguageArchivalAndOtherHoldings,#tdLanguageRepositoryHistory,#tdDateOfHoldingsTo,#tdLanguagePesonresponsible,
#tdTypeOfRelation,#tdLanguageDescriptionOfRelation,#tdInstitutionTypeOfRelation,#tdLanguageInstitutionDescriptionOfRelation{
	padding-left:40px;
	
}

}

