<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!--<property name="hibernate.connection.datasource">java:comp/env/jdbc/APEnetDatabaseDashboard</property>-->
		
		<mapping resource="mappings/CouAlternativeName.hbm.xml" />
		<mapping resource="mappings/AiAlternativeName.hbm.xml" />
        <mapping resource="mappings/UserState.hbm.xml" />
        <mapping resource="mappings/FileState.hbm.xml" />
        <mapping resource="mappings/ArchivalInstitution.hbm.xml" />
        <mapping resource="mappings/MetadataFormat.hbm.xml" />
        <mapping resource="mappings/UpFileState.hbm.xml" />
        <mapping resource="mappings/EseState.hbm.xml" />
        <mapping resource="mappings/NormalUser.hbm.xml" />
        <mapping resource="mappings/LevelType.hbm.xml" />
        <mapping resource="mappings/SentMailRegister.hbm.xml" />
        <mapping resource="mappings/FindingAid.hbm.xml" />
        <mapping resource="mappings/UploadMethod.hbm.xml" />
        <mapping resource="mappings/ArchivalInstitutionOaiPmh.hbm.xml" />
        <mapping resource="mappings/UpFile.hbm.xml" />
        <mapping resource="mappings/User.hbm.xml" />
        <mapping resource="mappings/Ese.hbm.xml" />
        <mapping resource="mappings/Warnings.hbm.xml" />
        <mapping resource="mappings/HoldingsGuide.hbm.xml" />
        <mapping resource="mappings/Searches.hbm.xml" />
        <mapping resource="mappings/Item.hbm.xml" />
        <mapping resource="mappings/FileType.hbm.xml" />
        <mapping resource="mappings/Country.hbm.xml" />
        <mapping resource="mappings/Lang.hbm.xml" />
        <mapping resource="mappings/CLevel.hbm.xml" />
        <mapping resource="mappings/EadContent.hbm.xml" />
        <mapping resource="mappings/CpfContent.hbm.xml" />
        <mapping resource="mappings/DptUpdate.hbm.xml" />
        <mapping resource="mappings/ResumptionToken.hbm.xml" />
        <mapping resource="mappings/IndexQueue.hbm.xml" />
        <mapping resource="mappings/UserRole.hbm.xml" />
        <mapping resource="mappings/SourceGuide.hbm.xml" />
    </session-factory>
</hibernate-configuration>
