.margin{
	margin-top: 5px;
	margin-bottom: 5px;
}
input[type="submit"] {
    background: url("../images/mainbutton.jpg") repeat-x scroll right top #ffffff;
    border: 1px solid #00a0df;
    border-radius: 3px;
    color: #00384d;
    cursor: pointer;
    display: inline;
    font-family: "Arial",sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: normal;
    margin: 10px 20px 5px 0px;
    overflow: visible;
    padding: 5px;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    vertical-align: baseline;
    width: auto;
}
input[type="button"] {
    background: url("../images/otherbutton.gif") repeat-x scroll right top #ffffff;
    border: 1px solid #00a0df;
    border-radius: 3px;
    color: #00384d;
    cursor: pointer;
    font-family: "Arial",sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    margin-left: 5px;
    margin-top: 10px;
    overflow: visible;
    padding: 5px;
    text-shadow: 1px 1px #ffffff;
    vertical-align: baseline;
    width: auto;
}