.box .boxtitle {
	background: url("../images/contentmanager/tabbg.jpg") repeat-x scroll 0
		0 transparent;
	height: 18px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
	text-transform: uppercase;
	background-color: #afdefc;
	padding-left: 5px;
}

.box {
	border: 1px solid #afdefc;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 4px;
}

.paging ul {
	display: inline-block;
	list-style: none outside none;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.paging li {
	float: left;
	font-size: 11px;
	color: gray;
	margin-left: 1px;
	margin-right: 1px;
}

.paging li.nolink {
	color: gray;
	background-color: white;
	/* for IE */
	filter: alpha(opacity =               70);
	/* CSS3 standard */
	opacity: 0.7;
}

.paging li.active {
	color: black;
	background-color: white;
}

.paging li a {
	background-color: white;
	/* for IE */
	filter: alpha(opacity =               70);
	/* CSS3 standard */
	opacity: 0.7;
}

.paging li a,.paging li.active,.paging li.nolink {
	cursor: pointer;
	float: left;
	display: block;
	font-weight: bold;
	min-width: 20px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	border: 1px solid #00A0DF;
}

.paging  li a:hover {
	border: 1px solid #79B7E7;
	color: #00384D;
	background-color: white;
	/* for IE */
	filter: alpha(opacity =               80);
	/* CSS3 standard */
	opacity: 0.8;
	text-decoration: none;
}

#contentmanager #ead-results-header {
	padding: 3px 5px 3px 20px;
	font-weight: normal;
	text-transform: none;
	font-size: 8pt;
}

#contentmanager #numberOfResults {
	float: left;
}

#contentmanager #ead-paging {
	float: right;
	margin-right: 10px;
}

#contentmanager #resultPerPageContainer {
	float: left;
	padding-left: 100px;
}

#contentmanager #resultPerPageContainer select {
	font-size: 9px;
	padding: 1px;
}

#contentmanager select {
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
}

#contentmanager .searchOptionsContent {
	background-color: #E8E8E8;
	padding: 5px;
}

#contentmanager .searchOptionsContent th {
	padding-left: 5px;
	padding-right: 5px;
}

#contentmanager .status_ok {
	color: green;
	font-weight: bold;
}

#contentmanager .status_no {
	font-weight: bold;
}

#contentmanager .status_queue {
	background-color: yellow;
	color: #B23062;
	font-weight: bold;
}

#contentmanager .status_queue_processing {
	background-color: #E9F3FA;
	color: gray;
}

#contentmanager .status_error {
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}

#contentmanager #content_div_table  .title {
	white-space: nowrap;
	width: 400px;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

#contentmanager .units {
	font-weight: bold;
}

#contentmanager .left {
	float: left;
}

#contentmanager .right {
	float: right;
}

#contentmanager #content_div_table td.actions {
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: left;
	width: 150px;
}

#contentmanager #content_div_table td.actions select {
	font-size: 11px;
	width: 120px;
}

#contentmanager #content_div_table td.actions input {
	font-size: 11px;
}

#contentmanager  #batchBlock {
	clear: both;
	display: block;
	height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

#contentmanager  #listFiles {
	margin: 0;
	position: fixed;
	top: 15px;
	left: auto;
	width: 150px;
	height: auto;
	right: 15px;
	background-color: #E9F3FA;
	/* for IE */
	filter: alpha(opacity =               70);
	/* CSS3 standard */
	opacity: 0.7;
	border: 1px solid #00A0DF;
	border-radius: 3px;
	padding: 3px;
}
#contentmanager  #listFiles span {
	margin-right:3px;
}
#contentmanager #listFilesActions{
	display:block;
	clear:both;
	width:100%;
	padding-bottom:5px;
}
#contentmanager #sizeFiles{
	display:block;
	clear:both;
	width:100%;
}

#contentmanager .linkList {
	font-weight: bold;
	color: #C65400;
	cursor: pointer;
}
