
#contentmanager #resultPerPageContainer {
	float: left;
	padding-left: 100px;
}
#contentmanager #eadRefreshInterval{
	float:left;
	padding-left:50px;
}
#contentmanager #resultPerPageContainer select , #contentmanager #eadRefreshInterval select{
	font-size: 9px;
	padding: 1px;
}

#contentmanager select {
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
}
#contentmanager #newSearchForm label {
    padding-left: 4px;
    padding-right: 4px;
}
#contentmanager .searchOptionsContent {
	background-color: #E8E8E8;
	padding: 5px;
}

#contentmanager .searchOptionsContent th {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#contentmanager .searchOptionsContent td {
	padding-right: 10px;
}
#contentmanager .status_ok {
	color: green;
	font-weight: bold;
}

#contentmanager .status_warning {
	color: #F87217;
	font-weight: bold;
}

#contentmanager .status_no {
	font-weight: bold;
}

#contentmanager .status_not_available {
	font-weight: bold;
    color: #DBDBDB;
}

#contentmanager .status_queue {
	color: #B23062;
	font-weight: bold;
}
#contentmanager .status_queue_error {
	background-color: yellow;
	color: #B23062;
	font-weight: bold;
}

#contentmanager .status_queue_processing {
	background-color: #E9F3FA;
	color: gray;
}

#contentmanager .status_error {
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}

#contentmanager #content_div_table  .title {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	word-wrap: break-word;
}

#contentmanager .units {
	font-weight: bold;
}

#contentmanager .left {
	float: left;
}

#contentmanager .right {
	float: right;
}

#contentmanager #content_div_table td.actions {
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: left;
}

#contentmanager #content_div_table td.actions select {
	font-size: 11px;
	width: 100%;
}

#contentmanager #content_div_table td.actions input {
	font-size: 11px;
}

#contentmanager  #batchBlock {
	clear: both;
	display: block;
	height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

#contentmanager  #listFiles {
	margin: 0;
	position: fixed;
	top: 15px;
	left: auto;
	width: 150px;
	height: auto;
	right: 15px;
	background-color: #E9F3FA;
	/* for IE */
	filter: alpha(opacity =               70);
	/* CSS3 standard */
	opacity: 0.7;
	border: 1px solid #00A0DF;
	border-radius: 3px;
	padding: 3px;
}
#contentmanager  #listFiles span {
	margin-right:3px;
}
#contentmanager #listFilesActions{
	display:block;
	clear:both;
	width:100%;
	padding-bottom:5px;
}
#contentmanager #sizeFiles{
	display:block;
	clear:both;
	width:100%;
}

#contentmanager .linkList {
	font-weight: bold;
	color: #C65400;
	cursor: pointer;
}
#contentmanager .total{
	background-color: #E8E8E8;
    color: #B23062;
}
#contentmanager .total td{
	font-weight: bold;
    color: #B23062;
    font-size: 9pt;
	height:2em;
}

#contentmanager #noresults {
	text-align:center;
    font-size: 11pt;
    font-weight:bold;
    padding-top:40px;
}
#contentmanager #harvestingStarted {
	text-align:center;
    font-size: 11pt;
    font-weight:bold;
    color: red;
    padding-top:20px;
    padding-bottom:20px;
}