.dojo {
    display: block;
}

.file {
    background: cyan;
    padding: 10px;
    margin: 10px;
}

#treeContainer {
    width: 50%;
    float: left;
    margin: 5px 0 0 0;
}

#searchContainer {
    width: 50%;
    float: right;
    margin: 5px 0 0 0;
}

#tree {
    margin: 5px;
}

.dijitTreeIcon.class {
    display: none;
}

.dijitTreeLabel.class {
    margin-left: 0;
}

.dijitTreeRow input {
    margin: 0 3px 0 4px;
}

.dijitExpandoText {
    display: block;
}

.dijitTreeNode {
    margin: 0 3px 0 4px;
}

.actions {
    display: block;
}