.box .boxtitle {
	background: url("../images/contentmanager/tabbg.jpg") repeat-x scroll 0
		0 transparent;
	height: 18px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
	text-transform: uppercase;
	background-color: #afdefc;
	padding-left: 5px;
}

.box {
	border: 1px solid #afdefc;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 4px;
}

.paging ul {
	display: inline-block;
	list-style: none outside none;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.paging li {
	float: left;
	font-size: 11px;
	color: gray;
	margin-left: 1px;
	margin-right: 1px;
}

.paging li.nolink {
	color: gray;
	background-color: white;
	/* for IE */
	filter: alpha(opacity =               70);
	/* CSS3 standard */
	opacity: 0.7;
}

.paging li.active {
	color: black;
	background-color: white;
}

.paging li a {
	background-color: white;
	/* for IE */
	filter: alpha(opacity =               70);
	/* CSS3 standard */
	opacity: 0.7;
}

.paging li a,.paging li.active,.paging li.nolink {
	cursor: pointer;
	float: left;
	display: block;
	font-weight: bold;
	min-width: 20px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	border: 1px solid #00A0DF;
}

.paging  li a:hover {
	border: 1px solid #79B7E7;
	color: #00384D;
	background-color: white;
	/* for IE */
	filter: alpha(opacity =               80);
	/* CSS3 standard */
	opacity: 0.8;
	text-decoration: none;
}

#ead-results-header {
	padding: 3px 5px 3px 20px;
	font-weight: normal;
	text-transform: none;
	font-size: 8pt;
}

#numberOfResults {
	float: left;
}

 #ead-paging {
	float: right;
	margin-right: 10px;
}

.warning {
	font-size: 13px;
    color: #F87217;
    font-weight: bold;
    padding: 5px;
}

.linkButton {
	text-align: center;
}

.linkButton a span, .linkButton .nolink span {
	margin-left: 5px;
}
.linkButton a, .linkButton .nolink {

	margin:5px;
	font-size: 12px;
    font-weight: bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;

    border-radius: 15px;
    display: inline-block;

    letter-spacing:0.8px
}
.linkButton a {
	color: #006CB0;
	background-color: #E9F3FA;
	border: 1px solid #00A0DF;
}


.linkButton a:hover {
    color: #00384D;
	background-color: #BAE0FC;
    border-radius: 15px;
}
.linkButton a {
	color: #006CB0;
	background-color: #E9F3FA;
	border: 1px solid #00A0DF;
}
.linkButton a.notIndexed {
	color: #333333;
	background-color: #F2F2F2;
	border: 1px solid #BDBDBD;	
}
.linkButton a.notIndexed:hover {
	color: #333333;
	background-color: #F2F2F2;
	border: 1px solid #BDBDBD;
}
.linkButton .nolink {
	color: #A4A4A4;
	background-color: #F2F2F2;
	border: 1px solid #E6E6E6;	
}
