html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

#wrapper {
	padding: 3px;
	text-align: justify;
}


#logo {
	background-image: url("../images/ape/header/logo-header.png");
	background-color:white;
	background-repeat: no-repeat;
    height: 120px;
    width:320px;   
    float:left;
}
#header {
	background: url("../images/ape/header/header_bg.png");
    height: 120px;
    background-repeat:repeat-x;
    overflow: hidden;
    width: 100%;
}
.left-header {
	background-image: url("../images/ape/header/header_left.png");
	background-repeat: no-repeat;
    height: 109px;
    width:555px;    
    float: left;
}
.right-header {
	background-image: url("../images/ape/header/header_right.png");
	background-repeat: no-repeat;
    float: right;
    height: 109px;
    width: 121px;
}
#header #leftPart {
    float: left;
}

#header #rightPart {
    float: right;
}

#frames {
    height: 100%;
}

#left {
    vertical-align: top;
    float:left;
    height:100%;
    width: 29%;
    border-right: 1px #000000 solid;
}

#tree {
    vertical-align: top;
    height: 100%;
    width: 98%;
    overflow-x: auto;
}

#right {
    vertical-align: top;
    float: right;
    height:100%;
    width: 70%;
}
.contextInformation {
	font-size: 10px;
	white-space:nowrap;
	margin-top:5px;
}

.error {
	color: red;
}