html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

#wrapper {
    height:100%;
    width:100%;
}

#header {
    height: 111px;
    width: 100%;
    background: url("../images/second_display/2nd_displ_bg.jpg") repeat;
    overflow: hidden;
}

#header #leftPart {
    float: left;
}

#header #rightPart {
    float: right;
}

#frames {
    height: 100%;
}

#left {
    vertical-align: top;
    float:left;
    height:100%;
    width: 29%;
    border-right: 1px #000000 solid;
}

#tree {
    vertical-align: top;
    height: 100%;
    width: 98%;
    overflow-x: auto;
}

#right {
    vertical-align: top;
    float: right;
    height:100%;
    width: 70%;
}
.contextInformation {
	font-size: 10px;
	white-space:nowrap;
}

.error {
	color: red;
}